<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>

<form>
    <div class="manage">
        <a href="/manager/member-manage" id="adminMember">회원 관리</a>
        <a href="/manager/product-manage" id="adminProduct">제품 관리</a>
        <a href="/manager/option-manage" id="adminOption">옵션 관리</a>
        <a href="/manager/category-manage" id="adminCategory">카테고리 관리</a>
        <a href="/manager/order-manage" id="adminOrder">주문 관리</a>
        <a href="/manager/delivery-manage" id="adminDelivery">배송 관리</a>
        <a href="/manager/courier-manage">배송기사 관리</a>
        <a href="/manager/coupon-manage" id="adminCoupon">쿠폰 관리</a>
    </div>
</form>

</body>
</html>