<!DOCTYPE html>
<html xmlnx:th="http://www.thymeleaf.org" xmlns:xmlnx="http://www.w3.org/1999/xhtml">
<head>
	<th:block th:include="@{/main/index-header}"></th:block>
</head><!--/head-->

<body>
	<th:block th:include="@{/main/index-nav}"></th:block>
	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>Your Information</h2>
						<h6 th:if="${#httpServletRequest.getParameter('message')}" th:text="${#httpServletRequest.getParameter('message')}"></h6>
						<form action="update" method="post" name="updateForm">
							<input type="hidden" name="pwComplete" value=""/>
							<input type="email" name="email" placeholder="Email Address" required th:value="${session.email}" disabled style="background:#C2C2C1"/>
							<input type="password" name="password" placeholder="Password" required onchange="pwCheck()"/>
							<h6 name="pwChecker" style="color: #ff0000"></h6>
							<input type="password" name="confirm_password" placeholder="Confirm Password" required onchange="pwConfirm()"/>
							<h6 name="pwConfirm" style="color: #ff0000"></h6>
							<input type="text" name="name" placeholder="Name" th:value="${member.name}"/>
							<input type="tel" name="phone" placeholder="Phone Number" th:value="${member.phone}"/>
							<input type="text" name="address" placeholder="Address" th:value="${member.address}"/>
							<button type="button" class="center-block btn btn-default" onclick="actionButton(this)" style="float:left; right:10px">Update</button>
							<button type="button" class="center-block btn btn-default" onclick="actionButton(this)" style="float:left;">Unregister</button>
							<script>
								function pwConfirm() {
									let pw = document.getElementsByName('password')[0].value;
									let confirm_pw = document.getElementsByName('confirm_password')[0].value;

									if (pw == confirm_pw) {
										document.getElementsByName('pwConfirm')[0].innerText = "";
										document.getElementsByName('pwComplete')[0].value = "complete";
										return;
									} else {
										document.getElementsByName('pwConfirm')[0].innerText = "※ 비밀번호가 일치하지 않습니다.";
										document.getElementsByName('pwComplete')[0].value = "";
									}
								}
								function pwCheck() {
									let pwChecker = "~!@#$%^&*()_+-={}[]:;\'\"|\\<>?,./";
									let pwchArr = Array.from(pwChecker);
									let pw = document.getElementsByName('password')[0].value;

									for(var i = 0; i < pwchArr.length; i++) {
										if ((pw.includes(pwchArr[i]))){
											pwChecker = "qwertyuiopasdfghjklzxcvbnm";
											pwchArr = Array.from(pwChecker);
											for (var j = 0; j < pwchArr.length; j++) {
												if (pw.includes(pwchArr[j])) {
													pwChecker = "1234567890";
													pwchArr = Array.from(pwChecker);
													for (var k = 0; k < pwchArr.length; k++) {
														pwChecker = "QWERTYUIOPASDFGHJKLZXCVBNM";
														pwchArr = Array.from(pwChecker);
														if (pw.includes(pwchArr[k])) {
															document.getElementsByName('pwChecker')[0].innerText = "";
															return;
														}
													}
												}
											}
										}
									}
									document.getElementsByName('pwChecker')[0].innerText = "※ 비밀번호 형식이 맞지 않습니다.";
								}

								function actionButton(cntl) {
									let checker = document.getElementsByName('pwComplete')[0].value;

									if (cntl.innerText == 'Update') {
										if (checker == 'complete') {
											document.updateForm.action = "/member/update";
											document.updateForm.submit();
										} else {
											alert('비밀번호를 확인해주세요!');
										}
									} else {
										document.updateForm.action = "/member/unregister";
										document.updateForm.submit();
									}
								}
							</script>
						</form>
					</div><!--/sign up form-->
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
	</section><!--/form-->


	<th:block th:include="@{/main/index-footer}"></th:block>
</body>
</html>