<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idu.shop.CancelOrderMapper">
    <select id="readList" resultType="com.idu.shop.domain.order.CancelOrder">
        <![CDATA[select * from member]]>
    </select>
    <select id="read" resultType="com.idu.shop.domain.order.CancelOrder">
        SELECT * FROM member WHERE id=#{id}
    </select>
    <insert id="create">
        INSERT INTO member VALUES(seq_member.nextval, #{email}, #{password}, #{name}, #{phone}, #{address}, #{point}, SYSDATE)
    </insert>
    <update id="update">
        update member set name=#{name}, phone=#{phone}, address=#{address}, point=#{point} where id=#{id}
    </update>
    <delete id="delete">
        delete from member where id = #{id}
    </delete>

</mapper>