<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idu.shop.CouponMapper">
    <select id="readList" resultType="com.idu.shop.domain.order.Coupon">
        <![CDATA[select * from coupon]]>
    </select>
    <select id="read" resultType="com.idu.shop.domain.order.Coupon">
        SELECT * FROM coupon WHERE id=#{id}
    </select>
    <select id="readById" resultType="com.idu.shop.domain.order.Coupon">
        SELECT * FROM coupon WHERE id=#{id}
    </select>
    <insert id="insert">
        INSERT INTO coupon VALUES(seq_member.nextval, #{name}, #{price}, #{percent})
    </insert>
    <update id="update">
        update coupon set name=#{name}, price=#{price}, percent=${percent} where id=#{id}
    </update>
    <delete id="delete">
        delete from coupon where id = #{id}
    </delete>

</mapper>