select {
    margin:0 auto;
    padding:0;
    height: 30px;
    width: 90px;
    border: none;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

select:focus {
    outline: none;
}

.top-bar-container {
    background: #eee;
}

.top-bar {
    margin: 0 auto;
    padding: 0;
    width: 1100px;
    height: 28px;
}

.top-bar ul {
    margin: 0;
    padding: 0;
    float: right;
}

.top-bar li {
    list-style: none;
    float: left;
    margin-right: 30px;
}

.top-bar li a, select, input, textarea {
    text-decoration: none;
    font-family: 돋움, Dotum, sans-serif;
    font-size: 13px;
}

.top-bar li a:hover,
.top-bar li a:link,
.top-bar li a{
    color: #000;
}

.container input,
.container input:focus {
    border: none;
    outline: none;
}

.search-box {
    border: 2px solid #417fb0;
    width: 560px;
}

.logo {
    position: relative;
    width: 200px;
}

.container .row {
    min-width: 1200px;
}

.nav-menu {
    padding: 0;
}

#header {
    padding: 0;
}
#slide, #slide ul,#slide li, #slide p, #slide label, #slide input {
  list-style:none;margin: 0; padding: 0;
}
#slide{height:500px;position:relative;overflow:hidden;width: 95%;}
#slide ul{width:400%;height:100%;transition:1s;}
#slide ul:after{content:"";display:block;clear:both;}
#slide li{float:left;width:25%;height:100%;}
/*#slide li:nth-child(1){}*/
/*#slide li:nth-child(2){}*/
/*#slide li:nth-child(3){}*/
/*#slide li:nth-child(4){}*/
#slide input{display:none;}
#slide label{
    display:inline-block;
    vertical-align:middle;
    width:15px;
    height:15px;
    border:2px solid #666;
    border-radius:50%;
    background:#fff;
    transition:0.3s;
    cursor:pointer;}
#slide .pos{
    text-align:center;
    position:absolute;
    bottom:10px;
    left:0;
    width:100%;
}
#pos1:checked~ul{margin-left:0;}
#pos2:checked~ul{margin-left:-100%;}
#pos3:checked~ul{margin-left:-200%;}
#pos4:checked~ul{margin-left:-300%;}
#pos1:checked~.pos>label:nth-child(1){background:#666;}
#pos2:checked~.pos>label:nth-child(2){background:#666;}
#pos3:checked~.pos>label:nth-child(3){background:#666;}
#pos4:checked~.pos>label:nth-child(4){background:#666;}

.container .row {
    margin-top: 25px;
    margin-bottom: 35px;
}

.loginForm input, .loginForm input:focus{
    width: 100%;
    height: 45px;
    border: 2px solid #eeeeee;
    margin-bottom: 10px;
    background-color: #fafafa;
    color: #417fb0;
    font-weight: bold;
}

.loginForm #rememberEmail {
    width: 15px;
    height: 15px;
    margin-right: 1px;
}

.loginForm #rememberEmail:hover, .loginForm label:hover {
    color: #417fb0;
}

.loginForm label {
    font-size: 13px;
}

.loginForm button {
    border: none;
    background-color: #417fb0;
    margin: 0 auto;
    width:100%;
    height: 45px;
    color: #fafafa;
}

.loginForm #findId {
    color: #000;
    font-size: 13px;
    right: 0;
    float: right;
    margin-top: 2px;
}

.loginForm #findId:hover {
    color: #417fb0;
}

.loginForm input:focus {
    border: 2px solid #417fb0;
}

.loginForm button:hover {
    color: #1a5e90;
}

.main-member-info, .main-cart {
    width: 50%;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: -20px;
}

.main-cart {
    margin-left: 100px;
}

.main-member-info i, .main-member-info span,
.main-cart i, .main-cart span{
    display: block;
}

.main-member-info i, .main-cart i {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    padding-top: 12px;
    margin: auto;
}

.main-member-info span, .main-cart span {
    font-size: 13px;
}

.search-button {
    margin-left: 3px;
    padding: 0;
    height: 100%;
    background-color: #fff;
    border: none;
}

.member-info a {
    color: #000;
}

.member-info a:hover {
    color: #417fb0;
}

.main-member-menu {
    padding: 20px;
    display: none;
    position: absolute;
    top: 40px;
    left: 35px;
}

.main-member-menu ul {
    padding: 10px;
    list-style: none;
    background-color: #fff;
    border-radius: 15px;
}

.main-member-menu ul li {
    padding: 5px 0px;
    font-size: 13px;
}

.main-member-info:hover~.main-member-menu,
.main-member-menu:hover{
    display: block;
}

.main-member-menu ul li a ,
.main-member-menu ul li a:link {
    text-decoration: none;
    color: #000;
}

.main-member-menu ul li a:hover {
    color: #417fb0;
}

.cart-stock {
    position: relative;
    top: -65px;
    left: 75px;
    border: 1px solid #000;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.plus-button {
    cursor: pointer;

}

.portfolio-details-container {
    margin:0 auto;
}

.product-detail-menu {
    list-style: none;
    display: block;
}

.product-detail-menu li {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    cursor: pointer;
}

.product-detail-menu li:hover {
    transition: 0.3s;
    background-color: #eee;
}

.point-icon {
    border: 1px solid #000;
    border-radius: 100px;
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 0 5px;
    font-style: normal;
    font-size: 8pt;
    background-color: #fff;
}

/* component */

.review-view ul {
    list-style: none;
}

.review-view ul li {
    width: 300px;
}

.star-rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:5em;
}

.star-rating input {
    display:none;
}

.star-rating label {
    color:#ccc;
    cursor:pointer;
}

.star-rating :checked ~ label {
    color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color:#fc0;
}

#star a{
    text-decoration: none;
    color: gray;
}
#star a.on {
    color: red;
}

.explain-view {
    text-align: center;
    width: 100%;
}

.footer-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background-color: #eee;
}

.portfolio-info strong {
    width: 200px;
}

.shipping-address-empty {
    width: 99%;
    height: 150px;
    margin: 5px;
    background: #fafafa;
    box-shadow: #f2f2f2;
}

.shipping-address-empty h6 {
    padding: 5px 17px;
    border: 1px solid #000;
    border-radius: 100%;
    font-size: 30px;
    display: inline-block;
    position: relative;
    left: 45%;
    top: 35%;
    cursor: pointer;
}

.shipping-address-empty form input {
    width: 100%;
}

.shipping-address-form, shipping-address-form-update {
    position: relative;
    width: 100%;
    display: none;
}

.shipping-address-empty form input:focus {
    width: 100%;
}

.product-info {
    width:610px;
    height: 420px;
    position: absolute;
    right: 0;
    background: #fff;
    z-index: 2;
    top: 0;
}
.product-info h3 {
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 10px;
}
.product-info .product-rating i {
    font-size: 14pt;
    color: #f1b0b7;
}
.product-info .product-price {
    margin-top: 30px;
}
.product-info .product-price del {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}
.product-info .product-price {
    font-size: 16.5pt;
}
.product-info .product-price strong {
    color: #f1b0b7;
}
.product-info .product-price span {
    font-weight: 800;
}

.breadcrumbs-top {
    margin-top: 160px;
    width: 93%;
    margin-left: 40px;
}
.breadcrumbs-top h3 {
    text-align: center;
}
.breadcrumbs-top .product-category {
    text-align: center;
    padding: 20px;
}
.sort-box {
    margin-top: -8px;
    float: right;
}
.sort-box input[type=button] {
    display: inline-block;
    font-family: "Raleway", sans-serif;
}
.breadcrumbs-top input[type=button] {
    background: #ffffff;
    border: none;
}
.breadcrumbs-top input[type=button]:hover {
    transition: 0.6s;
    background: #f3f3f3;
}
#total {
    position: absolute;
    font-family: "Raleway", sans-serif;
    margin-top: -8px;
}
del {
    font-size: 10pt;
    color: #f00;
}
span, h4, strong, del {
    font-family: "Raleway", sans-serif;
}
.price {
    font-size: 12pt;
}
.selected {
    background: #eee !important;
}