<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>OnePage Login - Find View</title>
  <th:block th:include="@{/main/index-include}"></th:block>
</head>

<body>
<th:block th:include="@{/main/index-header}"></th:block>
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs" style="margin-top: 125px;">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Login</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Find Email / Password</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

          <h6 style="font-size: 15pt;" th:text="Email"></h6>
          <form class="loginForm" action="/members/find-email" method="post">
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="phone" placeholder="Phone" required>
            <button style="display: block;" type="submit">Find Email</button>
          </form>
          <br>
          <h6 style="font-size: 15pt;" th:text="Password"></h6>
          <form class="loginForm" action="/members/find-password" method="post">
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="name" placeholder="Name" required>
            <button style="display: block;" type="submit">Find Password</button>
          </form>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
<th:block th:include="@{/main/index-footer}"></th:block>
</body>

</html>