<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idu.shop.HeartMapper">
    <select id="readList" resultType="com.idu.shop.domain.member.Heart">
        <![CDATA[select * from heart]]>
    </select>
    <select id="readByMemberNo" resultType="com.idu.shop.domain.member.Heart">
        <![CDATA[select * from heart where memberNo=#{memberNo}]]>
    </select>
    <select id="read" resultType="com.idu.shop.domain.member.Heart">
        SELECT * FROM heart WHERE id=#{id}
    </select>
    <insert id="insert">
        INSERT INTO heart VALUES(seq_option.nextval, #{productNo}, #{memberNo})
    </insert>
    <update id="update">
        update heart set productNo=#{productNo} where id=#{id}
    </update>
    <delete id="delete">
        delete from heart where productNo=#{productNo}
    </delete>

</mapper>