<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idu.shop.MemberCouponMapper">
    <select id="readList" resultType="com.idu.shop.domain.member.MemberCoupon">
        <![CDATA[select * from member_coupon]]>
    </select>
    <select id="read" resultType="com.idu.shop.domain.member.MemberCoupon">
        SELECT * FROM member_coupon WHERE id=#{id}
    </select>
    <select id="readByMemberNo" resultType="com.idu.shop.domain.member.MemberCoupon">
        <![CDATA[SELECT * FROM member_coupon WHERE memberNo=#{memberNo}]]>
    </select>
    <insert id="insert">
        INSERT INTO member_coupon VALUES(seq_member.nextval, #{couponNo}, #{memberNo})
    </insert>
    <update id="update">
        update member_coupon set couponNo=#{couponNo}, memberNo=#{memberNo} where id=#{id}
    </update>
    <delete id="delete">
        delete from member_coupon where id = #{id}
    </delete>

</mapper>