<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idu.shop.MemberShippingAddressMapper">
    <select id="readList" resultType="com.idu.shop.domain.member.MemberShippingAddress">
        <![CDATA[select * from member_shipping_address]]>
    </select>
    <select id="readMemberList" resultType="com.idu.shop.domain.member.MemberShippingAddress">
        <![CDATA[select * from member_shipping_address where memberNo=#{memberNo}]]>
    </select>
    <select id="read" resultType="com.idu.shop.domain.member.MemberShippingAddress">
        SELECT * FROM member_shipping_address WHERE id=#{id}
    </select>
    <insert id="insert">
        INSERT INTO member_shipping_address VALUES(seq_member.nextval, #{representative}, #{memberNo},  #{name}, #{phone}, #{address}, #{comments})
    </insert>
    <update id="update">
        update member_shipping_address set representative=${representative}, memberNo=#{memberNo}, name=#{name}, phone=#{phone}, address=#{address}, comments=#{comments} where id=#{id}
    </update>
    <delete id="delete">
        delete from member_shipping_address where id = #{id}
    </delete>

</mapper>